- if session[:user].nil?
	- title raw "#{@instagram_user.full_name} (#{@instagram_user.username}) Instgram photos with Google Maps"
- elsif @user
	- title raw "#{@user.full_name} (#{@user.username}) Instagram photos with Google Maps"
- else
	- title raw "#{session[:user].full_name} (#{session[:user].username}) Instagram photos with Google Maps"