- if session[:user].nil?
	- title raw "#Instamap | {@instagram_user.full_name} (#{@instagram_user.username}) Instgram photos with Google Maps and street view locations"
- elsif @user
	- title raw "Instamap | #{@user.full_name} (#{@user.username}) Instagram photos with Google Maps and street view locations"
- else
	- title raw "Instamap | #{session[:user].full_name} (#{session[:user].username}) Instagram photos with Google Maps and street view locations"