= render 'users/user_title'
#container2.profile
	.row-fluid
		.span3
			.title
				.row-fluid.legend
					%h1= params[:username]
			.content
				.row-fluid.well.well-small
					= render 'users/profile_picture_and_bio'
				%ul.nav.nav-tabs.nav-stacked
					= render 'users/user_stats'
		.span9
			.row-fluid.legend.profile
				.row-fluid
					.span6.spacer
						%ul.unstyled
							%li.location
								%span.muted
									%i.icon-map-marker
									= 'Last Instagram location: '
									%span#user-location
							
					.span6
						.pull-right
							- unless @is_following.nil?
								- if @is_following.outgoing_status == 'follows'
									%button.btn.btn-primary
										= 'Following'
								- else
									%button#follow-user.btn.btn-primary
										= 'Follow'
			#container2
				.row-fluid
					.box.gradient
						#content
							#map_canvas
			.profile_slider
				.flexslider
					%ul.slides
						= render 'users/user_images'