<div id="user_profile">
	<div class="span2">
		<% if @instamap_user.nil? %>
			<%= image_tag @instagram_user.profile_picture, class: "img-rounded" %>
		<% else %>
			<%= image_tag @instamap_user.profile_picture, class: "img-rounded" %>
		<% end %>
		<br />
		<div id="followers" class="span6">
			<% @follows.each do |follow| %>
				<%= image_tag follow.profile_picture, height: 60, width: 60, rel: "tooltip", title: follow.username, class: "img-circle" %>
			<% end %>
		</div>
		<div id="following" class="span6">
			<% @following.each do |follow| %>
				<%= image_tag follow.profile_picture, height: 60, width: 60, rel: "tooltip", title: follow.username, class: "img-circle" %>
			<% end %>
		</div>
	</div>
	<div class="span3">
		<% if @instamap_user.nil? %>
			<span class="label label-important"><%= @instagram_user.username %></span>
		<% else %>
			<span class="label label-important"><%= @instamap_user.username %></span>
		<% end %>
		<br />
		<i class="icon-eye-open icon-white"></i> 
			<%= link_to "#{@stats.counts.followed_by} followers", "#", rel: "tooltip", title: "Click to see my followers", id: "followers_link" %>
		<br />
		<i class="icon-eye-close icon-white"></i> 
			<%= link_to "#{@stats.counts.follows} following", "#", rel: "tooltip", title: "Click to see who I follow", id: "following_link" %> 
		<br />
		<i class="icon-map-marker icon-white"></i> 
			<%= link_to @stats.website %>
		<br />
		<i class="icon-comment icon-white"></i> <%= @stats.bio %>
	</div>
	<div id="profile_map" class="span6">
		<div id="map_canvas"></div>
	</div>
	<div class="profile_slider span12">
		<div class="flexslider">
			<ul class="slides">
				<% @images.each do |media| %>
					<% if media.location.nil? %>
						<li class="thumb" data-profile="<%= media.user.profile_picture %>" data-show-link="<%= show_url(media.id) %>" data-lat="0" data-long="0" data-id="<%= media.id %>" data-thumb="<%= media.images.thumbnail.url %>">
				    	<%= link_to image_tag(media.images.thumbnail.url), media.images.low_resolution.url, class: "fancybox fancybox.iframe" %>
				   	</li>
					<% else %>
						<li class="thumb" data-profile="<%= media.user.profile_picture %>" data-show-link="<%= show_url(media.id) %>" data-lat="<%= media.location.latitude %>" data-long="<%= media.location.longitude %>" data-id="<%= media.id %>" data-thumb="<%= media.images.thumbnail.url %>">
				    	<%= link_to image_tag(media.images.thumbnail.url), media.images.low_resolution.url, class: "fancybox fancybox.iframe" %>
				   	</li>
					<% end %>
			 	<% end %>
			</ul>
		</div>
	</div>
</div>
<%= content_tag "div", :id => "instagrams", :data => { :instagrams => @images } do %>
<% end %>