<% @instagram.each do |media| %>
  <div class="thumbnails">
    <div class="span4">
      <div class="thumbnail" data-lat="<%= media.location.latitude %>" data-long="<%= media.location.longitude %>">
        <%=
          link_to image_tag(media.images.low_resolution.url.to_s, :class => "instagram_image"),
          media.images.standard_resolution.url.to_s, "rel" => "lightbox"
        %>
        <div class="captions"><h3><%= link_to media.user.username, show_path(media.id) %></h3></div>
        <div class="captions"><%= media.caption.to_a.flatten[3] %></div>
        <br /><br />
        <div class="comment_area pull-left"><%= media.likes.to_a.flatten[1] %> likes</div>
        <div class="comment_area pull-right"><%= media.comments.to_a.flatten[1] %> comments</div>
      </div>
    </div>
  </div>
<% end %>