<%= image_tag "beta.png", id: "beta" %>
<%= link_to "Instamap", root_path, id: "logo" %>
<%= link_to image_tag("about.png", height: 30, width: 30, id: "about_us", class: "pull-right"), "#" %>
<%= form_tag "/", class: "search pull-right" do %>
	<%= text_field_tag "geocode_address", "", class: "input-xxlarge", placeholder: "Search by street address, a landmark, a city, etc" %>
	<%= submit_tag "Search", class: "search_btn btn btn-small btn-danger" %>
<% end %>
<!-- AddThis Button BEGIN -->
<a class="twitter addthis_button_tweet"></a>
<a class="facebook addthis_button_facebook_like" fb:like:layout="button_count"></a>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=rvb80"></script>
<!-- AddThis Button END -->