!!!
%html.no-js
  %head
    = render 'layouts/meta'
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'layouts/scripts'
  %body
    #loading
      = image_tag 'ajax-loader.gif'
    #responsive_part
      %ul.nav.responsive
        %li
          %btn.btn.btn-la1rge.btn-i1nfo.responsive_menu.icon_item{ data: { toggle: 'collapse', target: '#sidebar' } }
            %i.icon-reorder
    #sidebar.collapse
      .logo
        %a{ href: root_path }= image_tag 'logo.png', alt: 'Instamap | Instagram photos with Google Maps and street view locations', title: 'Instamap | Instagram photos with Google Maps and street view locations'
      %ul#sidebar_menu.navbar.nav.nav-list.sidebar_box
        = render 'layouts/sidebar'
    #main
      .container
        - if notice
          #notice-error.alert.alert-error= "#{notice}"
        .container_top
          .row-fluid
            .top_bar_stats.to_hide_tablet
              .stats
                = render 'layouts/social_buttons'
            .top_right
              = render 'layouts/navi'
        = yield