<!DOCTYPE html>
<html>
<head>
  <title>InstaMap</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYT6jDAWu1MexLFKU6Ek-uBC2K7N2Hmb8&sensor=true">
  </script>
  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=rvb80"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<%= render "layouts/header" %>
  		<%= yield %>
  	</div>
  </div>
</body>
</html>
