<!DOCTYPE html>
<html>
<head>
  <title>Instamap</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYT6jDAWu1MexLFKU6Ek-uBC2K7N2Hmb8&sensor=true">
  </script>
</head>
<body>
	<div class="container">
		<div class="row">
			<%= render "layouts/header" %>
  		<%= yield %>
  	</div>
  </div>
  <script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://d3rdqalhjaisuu.cloudfront.net/" : "http://d3rdqalhjaisuu.cloudfront.net/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};
  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "instamap";
  feedback_widget_options.placement = "right";
  feedback_widget_options.color = "#F2385A";
  feedback_widget_options.style = "idea";
  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>
</body>
</html>
