!!!
%html
  %head
    %title= "Instamap | #{yield(:title)}"
    = favicon_link_tag "/favicon.ico"
    %meta{ name: "author", content: "Richard VanBreemen, Matthew Powers" }/
    %meta{ name: "description", content: "Instamap is a new and fun way to view recent photos that are geolocated. When you firist visit Instamap, the most recent images from Instagram based on your location is shown..." }/
    %meta{ name: "keywords", content: "instagram photo views, instagram picture, display instagram photos, accessing instagram online, can i look at instagram online, how to go on instagram online, instagram picture search" }/
    = stylesheet_link_tag 	 "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{ type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyDYT6jDAWu1MexLFKU6Ek-uBC2K7N2Hmb8&sensor=true" }
  %body
    .container
      .row
        - if flash[:notice]
          #flash.center.alert.alert-error= flash[:notice]
        = render "layouts/header"
        = yield
    %script{ type: "text/javascript", charset: "utf-8" }
      :plain
        var is_ssl = ("https:" == document.location.protocol); 
        var asset_host = is_ssl ? "https://d3rdqalhjaisuu.cloudfront.net/" : "http://d3rdqalhjaisuu.cloudfront.net/"; 
        document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
    %script{ type: "text/javascript", charset: "utf-8" }
      :plain
        var feedback_widget_options = {};
        feedback_widget_options.display = "overlay";
        feedback_widget_options.company = "instamap";
        feedback_widget_options.placement = "right";
        feedback_widget_options.color = "#F2385A";
        feedback_widget_options.style = "idea";
        var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
    %script{ type: "text/javascript" }
      :plain
        var _gaq = _gaq || [];
        var pluginUrl = 
        '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
        _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
        _gaq.push(['_setAccount', 'UA-37122479-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();